@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<User> _signInManager

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        @if (_signInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"></li>
                <li class="nav-item text-light dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @User.Identity.Name
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-dark" asp-area="Account" asp-controller="Account" asp-action="Profile">Profile</a></li>
                        <li><a class="dropdown-item text-dark" asp-area="Account" asp-controller="Account" asp-action="LogOut">Log out</a></li>
                    </ul>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item"><a class="nav-link text-light" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin Dashboard</a></li>
                }
                @if (User.IsInRole("Customer"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Cart" asp-action="Index">Cart</a>
                    </li>
                }
            </ul>
        }
        else
        {
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="Account" asp-controller="Account" asp-action="LogIn">LogIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="Account" asp-controller="Account" asp-action="Register">Register</a>
                </li>
            </ul>
        }
    </div>
</nav>
