@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1 class="mt-4">Who are we?</h1>
    <div class="teamContainer row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2021/CML_Holiday21/Fashion/LANDING_PAGES/headers/CML_HOL21_LP-HEADER_XCAT-M_DT._CB1634600139_.jpg" alt="MK" />
                <div class="card-body text-center">
                    <h5 class="card-title">Mousa Khaleel</h5>
                    <p class="card-text">CEO</p>
                    <p class="card-text">Mousa Khaleel is the visionary leader behind our company's growth, steering us towards success.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2021/CML_Holiday21/Fashion/LANDING_PAGES/headers/CML_HOL21_LP-HEADER_XCAT-M_DT._CB1634600139_.jpg" alt="MK" />
                <div class="card-body text-center">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">CTO</p>
                    <p class="card-text">John Doe leads our technology and innovation strategies, ensuring we stay ahead of the curve.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2021/CML_Holiday21/Fashion/LANDING_PAGES/headers/CML_HOL21_LP-HEADER_XCAT-M_DT._CB1634600139_.jpg" alt="MK" />
                <div class="card-body text-center">
                    <h5 class="card-title">Jane Smith</h5>
                    <p class="card-text">COO</p>
                    <p class="card-text">Jane Smith ensures the smooth operations of our business, overseeing all departments.</p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <p class="text-center">We are a dedicated team committed to innovation, excellence, and providing top-notch services. Our leadership guides us in achieving our vision and mission.</p>
</div>
