@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
	<h1 style="margin-top:1%;">Who are we?</h1>
	<div class="teamContainer">
		<div class="card" style="max-width: 18rem;">
			<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2021/CML_Holiday21/Fashion/LANDING_PAGES/headers/CML_HOL21_LP-HEADER_XCAT-M_DT._CB1634600139_.jpg" alt="MK" />
			<div class="card-body">
				<p class="card-text">
					CEO: Mousa Khaleel
				</p>
			</div>
		</div>

	</div>
	<hr />

	<p>temp</p>

</div>